@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(206, 206, 243);
}

.box {
    background: rgb(252, 252, 255);
    width: 500px;
    text-align: center;

}

h1 {
    color: white;
    font-weight: 700;
    background: blue;
    padding: 20px 80px;
}

.input-section {
    width: 100%;
    padding: 20px 50px;
}

.input-section p {
    font-weight: 600;
    font-size: 20px;
}

.input-section input {
    width: 100%;
    margin: 20px 0px;
}

.output-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.output-section p {
    font-weight: 600;
    font-size: 20px;
}

.output {
    padding: 10px 20px;
    border-radius: 20px;
    width: fit-content;
    color: white;
    background: blue;
    margin: 20px 0px;
}